[Desktop Entry]
Name=TilEm
Comment=TilEm is an Texas Instruments calculator emulator
Exec=qmlscene ./TilEm.qml
Icon=tilem.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
